@import '~@fluentui/react/dist/sass/ThemingSass.scss';

.app {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100vh;
  overflow: hidden;
  background-color: #212a3e;
  color: #f1f6f9;
}

.appBody {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #212a3e;
  border-radius: 8px;
  overflow: hidden;
  gap: 4px;
}

.exampleContainer {
  background-color: #F1F6F9;
  border: 1px solid #ffead2;
  border-left: none;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: white;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    height: 5px;
    border: 3.5px solid transparent;
    background-clip: content-box;
    border-radius: 6px;
    background-color: lightgrey;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.controlPane {
  min-width: 260px;
  max-width: 260px;
  padding: 16px 12px;
  height: 100%;
  border: 1px solid #ffead2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  color: black;

  .paneHeader {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 24px;
    font-size: 20px;
  }

  .paneSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
